<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class=" flex ">
        {% for id,author,name_book in message %}
           <div class="flex justify-center items-center h-screen bg-gray-100">
            <div class="max-w-md w-full p-8 bg-white rounded shadow-md">
                <h3 class=" font-bold text-gray-800 mb-4">
                    ID: {{ id }}
                </h3>
                <h2 class="text-gray-600">
                    Имя автора: {{ author }} 
                </h2>
                <h2 class="text-gray-600">
                    Название книги:{{ name_book }}
                </h2>
            </div>
        </div>
        {% endfor %}
       
    </div>  
</body>
</html>